<!DOCTYPE html>
<html>
  <head>
    <title>Exercise1Wednesday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
  <h1>Super Villain Manager</h1>
  <%= link_to "Villains", super_villains_path %>|
  <%= link_to "Minions", minions_path %>
  </div>
    <%= yield %>
  </body>
</html>
